:root {
  /* colors */

  --clr-red: hsl(4, 100%, 67%);
  --clr-blue-800: hsl(234, 29%, 20%);
  --clr-blue-700: hsl(235, 18%, 26%);
  --clr-grey: hsl(0, 0%, 58%);
  --clr-white: hsl(0, 0%, 100%);

  /* font size */
  --fs-12: 0.75rem;
  --fs-16: 1rem;
  --fs-40: 2.5rem;
  --fs-56: 3.5rem;
  /* font family */
  --ff-roboto: "Roboto", system-ui, sans-serif;

  /* font weights */
  --fw-regular: 400;
  --fw-bold: 700;
  /* spacing */
  --size-10: 0.625rem;
  --size-24: 1.5rem;
  --size-40: 2.5rem;
  --size-64: 4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: var(--ff-roboto);
  font-size: 16px;
  line-height: 1.5;
  color: var(--clr-blue-800);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  background-color: var(--clr-blue-700);
  --webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 640px) {
    display: initial;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
